

  <div class="about-section">
    <div class="about-card">
      <h2>About:</h2>
      <p>I am a Tokyo-based <span class="purple-text">full-stack developer</span> with a background in <span class="purple-text">Social Innovation</span>.</p>
      <p>I grew my passion for Web Development when I completed Le Wagon’s Full-stack Web Development course in 2024.</p>
      <p>I like to <span class="purple-text">combine</span> my technical Web Development skills with my knowledge regarding Social Innovation to find <span class="purple-text">creative solutions</span>.</p>
    </div>
    <%= image_tag 'ryoji-iwata-TRJjPc0wss0-unsplash.jpg', alt: "tokyo", class: 'tokyo-pic', style: 'height: 340px; margin: 32px;' %>
  </div>
