<div class="justify-content-center banner">
  <div class="introduction d-flex justify-content-center" style="width: 80%;">
    <%= image_tag 'profile-image.jpg', alt: "profile photo", class: 'avatar-pic', style: 'margin-right: 72px;' %>
    <div class="introduction-text">
      <p>github          linkedin</p>
      <h1>Hi, I'm <span class="purple-text">Mia</span>!</h1>
      <p>A <span class="purple-text">full-stack developer</span> based in Tokyo</p>
      <div class="skills-section">
        <h2>Skills:</h2>
        <p>Ruby | Ruby on Rails | Github | SQL | CSS | HTML | JavaScript | Bootstrap | Figma</p>
      </div>
    </div>
  </div>
</div>
