<div class="justify-content-center banner">
  <div class="introduction d-flex justify-content-center" style="width: 80%;">
    <%= image_tag 'profile-image.jpg', alt: "profile photo", class: 'avatar-pic', style: 'margin-right: 72px;' %>
    <div class="introduction-text">
      <div class="socials d-flex" style="margin-bottom: 24px;">
        <%= link_to '', 'https://github.com/miaxoc', class: "fa-brands fa-github text-decoration-none", style:"margin-right: 32px; font-size: 24px; color: #771CFF;", target:"_blank"%>
        <%= link_to '', 'https://www.linkedin.com/in/mia-o-connell/', class: "fa-brands fa-linkedin text-decoration-none", style:"font-size: 24px; color: #771CFF;", target:"_blank" %>
      </div>
      <h1>👋 Hi, I'm <span class="purple-text">Mia</span>!</h1>
      <p>A <span class="purple-text">full-stack developer</span> based in Tokyo</p>
      <div class="skills-section">
        <h2>Skills:</h2>
        <p>Ruby | Ruby on Rails | Github | SQL | CSS | HTML | JavaScript | Bootstrap | Figma</p>
        <div class="tech-icons d-flex">
          <div style="border: 1px solid black; padding: 16px;">
            <img height="40" width="40" src="https://cdn.simpleicons.org/CSS3/1572B6" />
            <p>CSS</p>
          </div>

          <div style="border: 1px solid black; padding: 16px;">
            <img height="40" width="40" src="https://cdn.simpleicons.org/HTML5/E34F26" />
            <p>HTML</p>
          </div>

          <div style="border: 1px solid black; padding: 16px;">
            <img height="40" width="40" src="https://cdn.simpleicons.org/JavaScript/F7DF1E" />
            <p>JavaScript</p>
          </div>

          <div style="border: 1px solid black; padding: 16px;">
            <img height="40" width="40" src="https://cdn.simpleicons.org/Bootstrap/7952B3" />
            <p>BootStrap</p>
          </div>

          <div style="border: 1px solid black; padding: 16px;">
            <img height="40" width="40" src="https://cdn.simpleicons.org/Figma/F24E1E" />
            <p>Figma</p>
          </div>
        </div>
        <div class="tech-icons d-flex">
          <div style="border: 1px solid black; padding: 16px;">
            <img height="40" width="40" src="https://cdn.simpleicons.org/Ruby/CC342D" />
            <p>Ruby</p>
          </div>

          <div style="border: 1px solid black; padding: 16px;">
            <img height="40" width="40" src="https://cdn.simpleicons.org/RubyonRails/D30001" />
            <p>Ruby on Rails</p>
          </div>

          <div style="border: 1px solid black; padding: 16px;">
            <img height="40" width="40" src="https://cdn.simpleicons.org/GitHub/181717" />
            <p>Github</p>
          </div>

          <div style="border: 1px solid black; padding: 16px;">
            <img height="40" width="40" src="https://cdn.simpleicons.org/PostgreSQL/4169E1" />
            <p>Github</p>
          </div>



        </div>

      </div>
    </div>
  </div>
</div>
